# Diretórios derivados e de compilação
.build/
.xcodeproj/
.swiftpm/

# Arquivos de configuração
Package.resolved

# Arquivos de metadados do macOS
.DS_Store

# Arquivos de log
*.log

# Diretórios temporários
tmp/
temp/

# Arquivos de cache
*.xcuserstate
*.xcworkspace

# Arquivos de playground
timeline.xctimeline
playground.xcworkspace

# Arquivos gerados pelo Xcode
DerivedData/
xcuserdata/

# SwiftPM 
.build/